In [1]:
import pandas as pd
import numpy as np

In [2]:
class criarDataFrame:
    def __init__(self, media, desvio,qtde_dados_p_grupo,grupos):
        self.media = media
        self.desvio = desvio
        self.grupos = grupos
        self.qtde_dados_p_grupo = qtde_dados_p_grupo
        
    def quantidade_valores_por_grupo(self):
        # Passa dinâmico os grupos
        b = self.grupos
        # Quantidade de dados por grupo
        b =  b * self.qtde_dados_p_grupo
        # Recupera a quantidade de valores gerados
        tamanho = len(b)
#         Faz a distribuição dos dados recuperando os valores passados e o tamanho do DF
        val = np.random.normal(self.media,self.desvio,tamanho)
        
        df = pd.DataFrame(data=val, columns=['A'])
        df2 = pd.DataFrame(data=b, columns=['B'])

        return df.join(df2)

In [3]:
media = 2

desvio = 2
qtde_dados_p_grupo = 2

criacao = criarDataFrame(media,desvio,qtde_dados_p_grupo,["red","blue","black","green"])

In [4]:
retorno = criacao.quantidade_valores_por_grupo()

In [5]:
retorno

          A      B
0  5.434784    red
1  0.086161   blue
2  1.029700  black
3  2.119276  green
4 -0.720190    red
5  3.018640   blue
6  1.698392  black
7  1.940019  green

In [154]:
retorno['A'].describe()

count    8.000000
mean     2.852206
std      0.844416
min      1.697034
25%      2.110738
50%      3.094229
75%      3.275484
max      4.116855
Name: A, dtype: float64

In [140]:
round(2.5)

2

### Old

In [156]:
# import pandas

# class criarDataFrame:
#     def __init__(self, media, desvio, quantidade):
#         self.media = media
#         self.desvio = desvio
#         self.quantidade = quantidade
        
#     def quantidade_valores_por_grupo(self):
# #         return self.quantidade, self.desvio, self.quantidade
#         val = np.random.normal(self.media,self.desvio,self.quantidade)
#         b =  ["red"] * 2 + ["blue"] * 2 + ["black"] * 2
#         df = pd.DataFrame(data=val, columns=['A'])
#         df2 = pd.DataFrame(data=b, columns=['B'])

#         return df.join(df2)

In [ ]:
# criacao = criarDataFrame(2,2,6)
# retorno = criacao.quantidade_valores_por_grupo()